@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  color: black;
  background-color: skyblue;
}

.float-container {
  border: 3px solid skyblue;
  padding: 20px;
  background-color: skyblue;
}

.float-left {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
  font-family: 'Roboto, sans-serif';
  background-color: green;
}

.float-right {
  width: 50%;
  float: right;
  padding: 20px;
  border: 2px solid green;
  font-family: 'Roboto, sans-serif';
  background-color: red;
}